<body>

    <section class="place_banner">
        <img src="/img/img+video/place_banner.jpg" alt="place" class="place_img">
        <div class="tags">
            <span class="place_tag1">#seoul_hot_spots</span><br>
            <span class="place_tag2">#seoul_hot_spots</span><br>
            <span class="place_tag3">#seoul_hot_spots</span><br>
            <span class="place_tag4">#seoul_hot_spots</span><br>
        </div>
    </section>
    <section class="place_content">
        <div class="places">
            {{#each data}}
            <div class="place" data-id={{placeId}}>
                <img src="/img/{{img}}" alt="{{name}}"><br>
                <span class="place_name">{{name}}</span><br>
                <span class="place_des">{{description}}</span>
            </div>
            {{/each}}
        </div>
        <section class="map">
          <span class="key">{{google_api}}</span>
          <iframe id="placeMap" width="350px" height="350px" frameborder="0" style="border:0" src={{google_src}} allowfullscreen></iframe>
          <span class="mapInfo">Click tourist spot to check the location</span>
        </section>
    </section>
  
      
       <script defer>
        
        const places=document.querySelectorAll('.place');
        const placesSpace=document.querySelector('.places');
        const map=document.querySelector('.map');
        const mapRect=map.getBoundingClientRect();
        const apiKey=document.querySelector('.key').innerHTML;
        

        places.forEach((place)=>{
            place.addEventListener('click',()=>{
                
                const iframe=document.querySelector('#placeMap');
                const dataId=place.getAttribute('data-id');
                iframe.setAttribute('src',`https://www.google.com/maps/embed/v1/place?q=place_id:${dataId}&key=${apiKey}`);
            });
        });

        
        window.onscroll=function(){myfunction()};

        function myfunction(){
           
            if(window.pageYOffset>=mapRect.top)
            {
                map.classList.add('scroll-fixed');

            }else
            {
                map.classList.remove('scroll-fixed');
            }
        }
        
        
    </script>
    
</body>

