<body>
    <div class="food_banner">
        <img src="/img/img+video/f14777dd-4036-4d51-9305-aea79f4d4308_img_food_mugungwha_detail01.jpg" alt="seoul_food">
        <span class="banner_tag">#for_foodlover</span>
    </div>
    <section class="resConfirm">
        <span class="resConfirmTitle">Thank you for reservation! 🎉</span>
        <span class="resConfirmTitle">We've sent a confirmation email to your email address</span>
        <span class="resConfirmSentence">This is your reservation information below</span>
        <div class="resConfirmInfo">
            <span class="resConfirmResName">Restaurant Name: {{res.name}}</span><br>
            <span class="personName">Name: {{data.firstName}} {{data.lastName}}</span><br>
            <span class="personEmail">Email address: {{data.email}}</span><br>
            <span class="numberOfppl">Number of people: {{data.ppl}}</span><br>
            <span class="resDate">Date: {{data.date}}</span><br>
            <span class="resTime">Time: {{data.time}}:00</span><br>
        </div>
        <a href="/food" class="resConfirmBtn">Return to Restaurant List</a>
    </section>
   
</body>