<body>
    <div class="food_banner">
        <img src="/img/img+video/f14777dd-4036-4d51-9305-aea79f4d4308_img_food_mugungwha_detail01.jpg" alt="seoul_food">
        <span class="banner_tag">#for_foodlover</span>
    </div>
    <div class="reservationSection">
        <span class="reservationTitle">Welcome to Reservation page ✨</span>
        <span>{{meassage}}</span>
         <section class="resInfo">
             <span class="resName">{{data.name}}</span><br>
             <span class="resAddress">{{data.address}}</span><br>
             <span class="resPhone">{{data.phone}}</span>
         </section>
         <form method="post" class="infoSection" action="/food/{{data._id}}">
                
                <input type="text" name="firstName" class="firstName" placeholder="First Name" value="{{value.firstName}}">
                {{#if validation.firstName}}
                <span class="valid">{{validation.firstName}}</span>
                {{/if}}
                <input type="text" name="lastName" class="lastName" placeholder="Last Name" value="{{value.lastName}}">
                {{#if validation.lastName}}
                <span class="valid">{{validation.lastName}}</span>
                {{/if}}
                <input type="text" name="email" class="email" placeholder="Email" value="{{value.email}}">
                 {{#if validation.email}}
                <span class="valid">{{validation.email}}</span>
                {{/if}}
                <span class="resText">Number of people</span>
                 <select name="ppl" class="ppl">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                   
                </select>
                 {{#if validation.people}}
                <span class="valid">{{validation.people}}</span>
                {{/if}}
                <span class="resText">Date</span>
                <input type="date" name="date" class="date" >
                {{#if validation.date}}
                <span class="valid">{{validation.date}}</span>
                {{/if}}
                 <span class="resText" >Time</span>
                <select name="time" name="time" class="time" >
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                    <option value="21">21:00</option>
                </select>
                {{#if validation.time}}
                <span class="valid">{{validation.time}}</span>
                {{/if}}
                <input type="submit" class="reservationBtn" value="SUBMIT">
           
         </form>
        
    </div>

</body>

